<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <include file="$(find lidskid)/launch/final.launch"/>
  <node pkg="lidskid" name="Control" type="controller.py" output="screen"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <param name="use_gui" value="false" />
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>

