<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="wheel_radius" value="0.1" />
  <xacro:property name="wheel_width" value="0.04" />

  <xacro:include filename="wheels.xacro" />

  <xacro:link_macro />

  <xacro:wheel suffix="front_left" mass="0.2" wheel_radius="${wheel_radius}" 
    wheel_width="${wheel_width}" >
    <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
    <origin xyz="0.15 0.15 0" rpy="0 0 0"/>
  </xacro:wheel>
  <xacro:wheel suffix="front_right" mass="0.2" wheel_radius="${wheel_radius}" 
    wheel_width="${wheel_width}" >
    <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
    <origin xyz="0.15 -0.15 0" rpy="0 0 0"/>
  </xacro:wheel>
  <xacro:wheel suffix="back_left" mass="0.2" wheel_radius="${wheel_radius}" 
    wheel_width="${wheel_width}" >
    <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
    <origin xyz="-0.15 0.15 0" rpy="0 0 0"/>
  </xacro:wheel>
  <xacro:wheel suffix="back_right" mass="0.2" wheel_radius="${wheel_radius}" 
    wheel_width="${wheel_width}" >
    <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
    <origin xyz="-0.15 -0.15 0" rpy="0 0 0"/>
  </xacro:wheel>
</robot>

